#card-product {
  text-align: left;
  // margin: .75rem 0;

  .content {
    padding: .75rem;

    .content-top {
      align-items: flex-start;
      font-weight: 500;

      .title {
        color: #1d1d1d;
        font-size: 14px;
      }

      .location {
        color: #9b9b9b;
        font-size: 12px;
      }
    }

    .content-bottom {
      align-items: flex-end;
      height: 30px;

      .price {
        color: #078f62;
        font-size: 14px;
        font-weight:700;

      }

      .date {
        color: #9b9b9b;
        font-size: 10px;
        font-weight: 500;

      }


    }

  }
}