#wrapper-component {
  .__body {
    z-index: 1;
    padding: 2rem;
    margin-top: -8rem;
    background: white;
    border-radius: 2rem 2rem 0 0;
  }

  .empty {
    min-height: 100vh;
    padding: 4rem;
    flex: 1;
    justify-content: center;
  }
  .fixed {
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 3rem;
    transform: translate(-30, 0);
    transition: all 1s;
  }
}