#sort {
  padding: 3rem;

  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .radio {
    justify-content: center;
    display: flex;
    margin: 2rem 0;
  }

  .button {
    margin-top: 1rem;
    text-align: center;
  }
}